%h1 Rails 5 App demo
%p= link_to t('extenso', scope: [:activerecord, :models, :cliente]), clientes_path
%p= link_to t('extenso', scope: [:activerecord, :models, :produto]), produtos_path
%p= link_to t('extenso', scope: [:activerecord, :models, :tipo]), tipos_path