%h1 Rails 5 App demo
%p= link_to t('novo', scope: [:activerecord, :attributes, :cliente]), clientes_path
%p= link_to t('novo', scope: [:activerecord, :attributes, :produto]), produtos_path
%p= link_to t('novo', scope: [:activerecord, :attributes, :produto_tipo]), produto_tipos_url
